/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.tabela_adm{
  border-width: 2px;
	border-spacing: 0px;
	border-style: solid;
	border-color: gray;
	border-collapse: separate;
	background-color: white;
}

.tabela_adm td {
	border-width: 1px;
	padding: 2px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
}